{% extends "base/app_base.html" %}

{% block title %}Your Categories{% endblock %}

{% block main %}
    <div class="narrow-content-container">
        {# Show message for adding/editing/deleting category #}
        {% include "partials/flash-message.html" %}

        <h1>Event Categories</h1>

        {% if categories %}
            <p>View your categories below</p>
            <table class="categories-table">
                <colgroup>
                    <col>
                    <col class="short-col">
                </colgroup>
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td class="category-info">
                            <p>{{ category.category_name }}</p>
                            <div class="category-colour" style="background-color: {{ category.category_colour }};"></div>
                        </td>
                        <td>
                            <div class="edit-delete-options">
                                <a href="{{ url_for('edit_category', category_id=category.category_id) }}"><i class="fa-regular fa-pen-to-square" title="Rename category"></i></a>
                                <a href="{{ url_for('confirm_delete_category', category_id=category.category_id) }}"><i class="fa-regular fa-trash-can" title="Delete category"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You don't have any categories yet.</p>
        {% endif %}
        
        <a class='big-btn' href="{{ url_for('add_category') }}">
            <div>
                <i class="fa-solid fa-plus"></i>
                <p>Add new category</p>
            </div>
        </a>
    </div>
{% endblock %}