{% extends 'base/app_base.html' %}

{% block title %}SimpleBloc Dashboard{% endblock %}

{% block main %}
    <div class="wide-content-container dashboard-container">
        <h1>Today's Events</h1>
        <div class="dashboard">
            <div class="daily-table">
                {% if events %}
                    <div class="daily-events">
                        {% for event in events %}
                            <div class="event-group">
                                {% set category_colour = event.category_colour %}
                                <div class="time" style="background-color: {{ category_colour }}; color: var({{ category_colour | get_text_colour }});">
                                    {% if event.is_all_day_event %}
                                        <p>All day</p>
                                    {% else %}
                                        <p>{{ event.start_time }}</p> 
                                        <p>–</p>
                                        <p>{{ event.end_time }}</p>
                                    {% endif %}
                                </div>
                                
                                <div>{{ event.event_title }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <p>Number of events today: {{ count }}</p>
                {% else %}
                    <p>No events today – <a href="{{ url_for('new_event_form') }}">add some events</a></p>
                {% endif %}
            </div>

            <div class="quick-selections">
                <div class="quick-links">
                    <a class="big-btn" href="{{ url_for('timetable') }}">
                        <div>
                            <i class="fa-solid fa-arrow-right"></i>
                            <p>View full timetable</p>
                        </div>
                    </a>
                    <a class='big-btn' href="{{ url_for('new_event_form') }}">
                        <div>
                            <i class="fa-solid fa-plus"></i>
                            <p>Add new event</p>
                        </div>
                    </a>
                </div>
                <div class="quick-note-container">
                    <div>
                        <p class="title">Quick Note</p>
                        <a href="{{ url_for('quick_note_form') }}"><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>
                    <p class="quick-note">{{ quick_note }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
