{# Create an empty errors dictionary if one does not exist #}
{% if errors is not defined %}
    {% set errors = {} %}
{% endif %}

{% if data is not defined %}
    {% set data = {} %}
{% endif %}

{% extends 'base/app_base.html' %}

{% block title %}
    {% if mode == 'add' %}
        Add a New Event
    {% else %}
        Edit an Event
    {% endif %}
{% endblock %}


{% block main %}
    <div class="narrow-content-container">
        {% if mode == 'add' %}
            <h1>New Event</h1>
            <p>Add a new event below</p>
        {% else %}
            <h1>Edit Event</h1>
            <p>Edit your event below</p>
        {% endif %}

        <form action="{{ url_for('add_or_edit_event') }}" method="post">
            <div class="title">Date and time</div>

            <div class="form-group">
                <label for="event_date">Date</label>
                <input type="date" name="event_date" id="event_date" value="{{ data.get('event_date', '') }}">
                <div class="form-group-error">{{ errors.get('event_date', '') }}</div>
            </div>
            
            <div class="two-equal-cols">
                <div class="form-group">
                    <label for="start_time">Start time</label>
                    <input type="time" name="start_time" id="start_time" value="{{ data.get('start_time', '') }}">
                    <small>Minutes can only be in increments of 5</small>
                    <div class="form-group-error">{{ errors.get('start_time', '') }}</div>
                    <div class="checkbox-group">
                        <input type="checkbox" name="is_all_day_event" id="is_all_day_event" value="is_all_day_event" {{ 'checked' if data.get('is_all_day_event') }}>
                        <label for="is_all_day_event">All day event</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="end_time">End time</label>
                    <input type="time" name="end_time" id="end_time" value="{{ data.get('end_time', '') }}">
                    <small>Minimum event length is 10 minutes</small>
                    <div class="form-group-error">{{ errors.get('end_time', '') }}</div>
                </div>
            </div>

            
            <div class="title">Event details</div>
            
            <div class="form-group">
                <label for="event_title">Title</label>
                <input type="text" name="event_title" id="event_title" value="{{ data.get('event_title', '') }}">
                <div class="form-group-error">{{ errors.get('event_title', '') }}</div>
            </div>
            
            <div class="form-group">
                <label for="event_description">Description</label>
                <textarea name="event_description" id="event_description">{{ data.get('event_description', '') }}</textarea>
                <div class="form-group-error">{{ errors.get('event_description', '') }}</div>
            </div>
            
            <div class="form-group">
                <label for="category_name">Category</label>
                <input list="categories-list" id="category_name" name="category_name" value="{{ data.get('category_name', '' ) }}" onfocus="this.select()" autocomplete="off">
                <small>Clear the text to see all existing categories</small>

                <datalist id="categories-list">
                    {% for category in categories %}
                        <option value="{{ category.category_name }}"></option>
                    {% endfor %}
                </datalist>

                <div class="form-group-error">{{ errors.get('category_name', '') }}</div>
            </div>

            <input type="hidden" name="mode" value="{{ mode }}">

            {% if mode == 'add' %}
                <button type="submit">Add event</button>
            {% else %}
                <input type="hidden" name="event_id" value="{{ data.get('event_id') }}">
                <button type="submit">Save changes</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
