<div>
    <div class="modal-title">
        <h2>{{ event.event_title }}</h2>
        <div class="edit-delete-options">
            <a href="{{ url_for('edit_event', event_id=event.event_id) }}"><i class="fa-regular fa-pen-to-square" title="Edit event"></i></a>
            <a href="{{ url_for('confirm_delete_event', event_id=event.event_id) }}"><i class="fa-regular fa-trash-can" title="Delete event"></i></a>
        </div>
    </div>
    {% if event.is_all_day_event %}
        <p class="event-date">{{ event.day_of_week }} {{ event.event_date }} | All day</p>
    {% else %}
        <p class="event-date">{{ event.day_of_week }} {{ event.event_date }} | {{ event.start_time }} – {{ event.end_time }}</p>
    {% endif %}
    <p class='category-tag' style="background-color: {{ event.category_colour }}; color: var({{ event.category_colour | get_text_colour }});">{{ event.category_name }}</p>
    <p class="event-description">{{ event.event_description }}</p>
</div>