{# Create an empty errors dictionary if one does not exist #}
{% if errors is not defined %}
    {% set errors = {} %}
{% endif %}

{% extends 'base/app_base.html' %}

{% block title %}Change your Password{% endblock %}

{% block main %}
    <div class="narrow-content-container">
        <h1>Password</h1>
        <p>Change your password below</p>

        {# Show form error message #}
        {% include "partials/flash-message.html" %}

        <form action="{{ url_for('submit_password_change') }}" method="post" class="form-with-bg">
            <div class="form-group">
                <label for="current_pwd">Current password</label>
                <input type="password" name="current_pwd" id="current_pwd">
                <div class="form-group-error">{{ errors.get('current_pwd', '') }}</div>
            </div>
            
            <div class="form-group">
                <label for="new_pwd">New password</label>
                <input type="password" name="new_pwd" id="new_pwd">
                <div class="form-group-error">{{ errors.get('new_pwd', '') }}</div>
            </div>
            
            <div class="form-group">
                <label for="confirm_new_pwd">Confirm new password</label>
                <input type="password" name="confirm_new_pwd" id="confirm_new_pwd">
                <div class="form-group-error">{{ errors.get('confirm_new_pwd', '') }}</div>
            </div>

            <button>Change password</button>
        </form>
    </div>
{% endblock %}
