{% extends 'base/app_base.html' %}

{% block title %}Your Profile{% endblock %}

{% block main %}
    <div class="narrow-content-container">
        {# Show message for successful profile updates #}
        {% include "partials/flash-message.html" %}

        <h1>Profile</h1>

        <div class="profile-options-container">
            <div class="profile-options">
                <div class="email-info">
                    <p><b>Email</b></p>
                    <p>{{ email }}</p>
                </div>
                <a href="{{ url_for('email_form') }}">Update Email</a>
            </div>
            
            <div class="profile-options">
                <div class="password-info">
                    <p><b>Password</b></p>
                    <p>Change your login password</p>
                </div>
                <a href="{{ url_for('password_form') }}">Change Password</a>
            </div>
        </div>
    </div>
{% endblock %}
