{% extends 'base/app_base.html' %}

{% block title %}Your Timetable{% endblock %}

{% block main %}
    <div class="wide-content-container">
        <h1>Timetable</h1>
        <p>View and edit your timetable below</p>
        <form action="{{ url_for('timetable') }}">
            <input type="date" name='date_selected' value="{{ date_selected }}">
            <button>Submit</button>
        </form>

        <p>For debugging purposes</p>
        <p>{{start_date}}</p>
        <p>{{end_date}}</p>

        <div class="weekly-timetable-container">
            <!-- Date row -->
            <div class="date-grid" style="grid-column: {{ time }};">AEST</div>
            {% for key, value in week_dates.items() %}
                <div class="date-grid" style="grid-column: {{ loop.index + 1 }};">
                    <div>{{ key }}</div>
                    <div class="day">{{ value }}</div>
                </div>
            {% endfor %}
            
            <!-- All day events row -->
            <div class="all-day-grid" style="grid-column: {{ time }};">All day</div>
            {% for i in range(2, 9) %}
                <div class="all-day-grid" style="grid-column: {{ i }};">all day event: {{i}}</div>
            {% endfor %}

            <!-- Time labels -->
            {% for i in range(0, 24) %}
                <div class="time-label" style="grid-row: {{ (12*i)+3 }} / span 12;">{{i}}:00</div>
            {% endfor %}

            <!-- Main timetable -->
            {% for day in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'] %}
                {% for row_num in range(3, 291) %}
                    <div class="calendar-slot" style="grid-row: {{ row_num }}; grid-column: {{ day }};">
                    </div>
                {% endfor %}
            {% endfor %}    


            <!-- Events -->
            {% for event in events %}
                {% set style_dict = event_styles[loop.index0] %}
                <div class="calendar-event"
                    style="background-color: lightblue; grid-row: {{ style_dict.row_start }} / {{ style_dict.row_end }}; grid-column: {{ style_dict.col_name }};">
                    {{ event.event_title }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
