{% extends 'base/app_base.html' %}

{% block title %}Your Timetable{% endblock %}

{% block main %}
    <div class="wide-content-container">
        <h1>Timetable</h1>
        <p>View and edit your timetable below</p>
        <form action="{{ url_for('timetable') }}" method="get" id="date_selector_form">
            <button name="action" value="back"><i class="fa-solid fa-angle-left"></i></button>
            <input class="date-selector" type="date" id='date_selected' name='date_selected' value="{{ date_selected }}" onkeydown="return false" onclick="this.showPicker()">
            <button name="action" value="next"><i class="fa-solid fa-angle-right"></i></button>
        </form>
     
        <div class="weekly-timetable-container">
            <!-- Date row -->
            <div class="date-grid left-col" style="grid-column: {{ time }};">AEST</div>
            {% for key, value in week_dates.items() %}
                <div class="date-grid" style="grid-column: {{ loop.index + 1 }};">
                    <div>{{ key }}</div>
                    <div class="day">{{ value }}</div>
                </div>
            {% endfor %}
            
            <!-- All day events row -->
            <div class="all-day-grid left-col" style="grid-column: {{ time }};">All day</div>
            {% for day_num, events in all_day_events.items() %}
                <div class="all-day-grid" style="grid-column: {{ day_num + 1 }};">
                    {% if events %}
                        {% set styles_list = all_day_styles[day_num] %}
                        {% for event in events %}
                            <a href="#" class="all-day-event"
                                style="background-color: {{ styles_list[loop.index0] }};"
                                onclick="document.getElementById('event-dialog').showModal(); return false;" 
                                hx-get="/event/{{ event.event_id }}" hx-target="#event-dialog-content">
                                <p>{{ event.event_title }}</p>
                            </a>

                            <dialog id="event-dialog">
                                <button class='cross-icon' id="close-event-dialog" onclick="document.getElementById('event-dialog').close()"><i class="fa-solid fa-xmark"></i></button>
                                <div class='event-dialog-content' id="event-dialog-content"></div>
                            </dialog>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <!-- Time labels -->
            {% for i in range(0, 24) %}
                <div class="time-label left-col" style="grid-row: {{ (12*i)+3 }} / span 12;">{{i}}:00</div>
            {% endfor %}

            <!-- Main timetable -->
            {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                {% for row_num in range(3, 291) %}
                    {% if row_num % 12 == 2 %}
                        {% set colour = 'var(--secondary-colour)' %}
                    {% else %}
                        {% set colour = 'transparent' %}
                    {% endif %}
                    <div class="calendar-slot" style="grid-row: {{ row_num }}; grid-column: {{ day }}; border-bottom: 1px solid {{ colour }};">
                    </div>
                {% endfor %}
            {% endfor %}    


            <!-- Events -->
            {% for event in normal_events %}
                {% set style_dict = normal_styles[loop.index0] %}

                <!-- Create simpler variable names for each of the values in the dictionary -->
                {% set row_start = style_dict.row_start %}
                {% set row_end = style_dict.row_end %}

                {% set row_diff = row_end - row_start %}

                <a href="#" class="calendar-event"
                    style="
                    background-color: {{ style_dict.colour }}; 
                    grid-row: {{ row_start }} / {{ row_end }}; 
                    grid-column: {{ style_dict.col_name }}; 
                    max-height: calc({{ 0.5 * row_diff }}rem - 1px);
                    "
                    onclick="document.getElementById('event-dialog').showModal(); return false;" 
                    hx-get="/event/{{ event.event_id }}" hx-target="#event-dialog-content">
                    <p>{{ event.event_title }}</p>
                    <p>{{ event.start_time }} – {{ event.end_time }}</p>
                </a>

                <dialog id="event-dialog">
                    <button class='cross-icon' id="close-event-dialog" onclick="document.getElementById('event-dialog').close()"><i class="fa-solid fa-xmark"></i></button>
                    <div class='event-dialog-content' id="event-dialog-content"></div>
                </dialog>
            {% endfor %}
        </div>
    </div>


    <script>
        const dateSelected = document.getElementById('date_selected');
        const form = document.getElementById('date_selector_form');
        
        dateSelected.addEventListener('input', function() {
            form.submit();
        });
    </script>
{% endblock %}
