{% extends 'base/base.html' %}

{% block nav %}
    <nav>
        <a href="{{ url_for('home') }}">About</a>
        <a href="{{ url_for('register_form') }}">Register</a>
        <a href="{{ url_for('login_form') }}">Login</a>
    </nav>
{% endblock %}

{% block footer %}
    <div class="wide-content-container">
        <div class="footer-section">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo100.svg') }}" alt="SimpleBloc logo">
                <p>SimpleBloc</p>
            </div>
            <p class="grey-text">The ultimate productivity tool for visual planners.</p>
        </div>
        <div class="footer-section">
            <p>ACCOUNT</p>
            <a href="{{ url_for('login_form') }}">Login</a>
            <a href="{{ url_for('register_form') }}">Register</a>
        </div>
    </div>
{% endblock %}
