:root {
    --outline-colour: #8a8a8a;
    --hover-colour: #a9a9a9;
}

form {
    background-color: var(--tertiary-colour);
    padding: 1.75rem 2rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;

    .title {
        margin-top: 1rem;
    }

    .title:first-of-type {
        margin-top: 0.25rem;
    }

    .form-group {
        display: grid;
        gap: 0.2rem;

        margin: 0.5rem 0 1.5rem 0;
    }

    .two-equal-cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 1rem;
    }

    .checkbox-group {
        display: flex;
        gap: 0.4rem;
    }

    .form-group-error {
        color: darkred;
    }

    .form-group-error:empty {
        display: none;
    }

    /* Individual form elements */
    input, textarea, select {
        padding: 0.5rem;
        border: 1px var(--light-grey) solid;
        border-radius: 4px;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
        border-color: var(--primary-font-colour);
    }

    textarea {
        height: 10rem;
        resize: vertical;
    }

    select {
        padding: 0.4rem 0.25rem;
    }

    button {
        background-color: var(--primary-colour);
        color: var(--bg-colour);

        padding: 0.75rem 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        
        border: none;
        border-radius: 4px;
    }

    button:hover {
        background-color: var(--hover-primary-colour);
    }

    small {
        font-size: 0.75rem;
    }


    /* Other form elements */
    .trigger-categories {
        text-decoration: underline;
    }
    
    .trigger-categories:hover {
        text-decoration: none;
    }

    .date-selector {
        border-color: black;
    }
}