@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

:root {
    --primary-colour: #146bed;
    --hover-primary-colour: #2f7fff;
    --dull-primary-colour: #e0ecfc;
    --secondary-colour: #061537;
    --tertiary-colour: #f1f3f6;
    
    --bg-colour: #f9fafc;
    --text-colour: #121212;
    --secondary-text-colour: #7c7c7c;

    --light-grey: #d7d7d7;

    --row-height: 0.5rem;
    --total-rows: 290;
}

body {
    /* Body should take up whole screen height */
    min-height: 100vh;

    /* Allocate all free space to main */
    display: grid;
    grid-template-rows: auto 1fr auto;

    /* General font colour */
    color: var(--text-colour);

    /* General font */
    font-family: 'Rethink Sans';
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5rem;
}

h1 {
    font-weight: 600;
}

a {
    color: var(--text-colour);
    text-decoration: none;
}

a:hover {
    color: var(--primary-colour);
}

i {
    font-size: 1.1rem;
}

b {
    color: var(--primary-colour);
}

/* Narrower content container for most information */
.narrow-content-container {
    max-width: 72ch;
    
    min-height: 100%;
    padding: 2rem;
    margin: 0 auto;
}

/* Wider containter for dashboard and timetable design */
.wide-content-container {
    padding: 2rem 1rem;
    min-height: 100%;
    
    @media (width > 999px) {
        padding: 2rem;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-weight: 700;
    color: var(--text-colour);

    p {
        margin: 0;
    }
}

header {    
    border-bottom: 1px solid var(--light-grey);

    .wide-content-container {
        background-color: var(--bg-colour);
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .logo {
        font-size: 2rem;

        img {
            width: 36px;
        }
    }
    
    nav {
        display: flex;
        gap: 2rem;

        @media (width > 1100px) {
            gap: 2.5rem;
        }
    }
}

/* Flash messages */
.message {
    /* CHANGE/DELETE */
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 1rem;
    margin: 1rem 0;
    
    &.error-message {
        /* CHANGE/DELETE */
        border-color: crimson;
        background-color: lightpink;
    }
    
    &.info-message {
        /* CHANGE/DELETE */
        border-color: forestgreen;
        background-color: lightgreen;
    }
}

main {
    background-color: var(--bg-colour);

    a {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
        color: var(--text-colour);
    }

    .light-link {
        color: var(--bg-colour);
    }

    .light-link:hover {
        color: var(--bg-colour);
    }
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Homepage */
.homepage {
    display: grid;
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        text-align: center;
        margin-bottom: 2rem;

        font-size: 1.75rem;
    }
    
    h3 {
        margin-top: 1.25rem;
    }

    p {
        margin-bottom: 2rem;
    }
}

.section, .alternate-section {
    padding: 5rem 2rem;
    min-width: 100%;
    gap: 2.5rem;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;

    padding: 0 2rem;

    img {
        box-shadow: 8px 8px 10px 2px var(--light-grey);
        border-radius: 28px;
    }
}

.alternate-section {
    background-color: var(--tertiary-colour);
}

.section-content {
    max-width: 100ch;
    margin: 0 auto;
}

.explore-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    gap: 1rem;
}

.explore-card {
    background-color: var(--bg-colour);
    padding: 1.5rem;
    border-radius: 16px;

    @media (width < 1000px) {
        padding: 1rem;
    }

    i {
        color: var(--primary-colour);
        background-color: var(--dull-primary-colour);
        
        font-size: 1.25rem;

        padding: 0.65rem;
        border-radius: 8px;
    }

    p {
        margin-bottom: 0.5rem;
    }
}

.section-card {
    background-color: var(--secondary-colour);
    color: var(--bg-colour);

    border-radius: 24px;
    padding: 4rem;
    margin: 0 auto;
    max-width: 50rem;

    @media (width < 1000px) {
        max-width: 40rem;
    }

    p {
        text-align: center;
    }
}

.two-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    p {
        margin: 0;
    }
}

/* Navigation buttons */
.btn {
    display: inline-block;
    padding: 0.75rem 1rem;
    border-radius: 8px;

    background-color: var(--primary-colour);
    color: var(--bg-colour);
    text-decoration: none;

    transition: transform 0.2s ease, color 0.2s ease;
}

.btn:hover {
    transform: scale(1.02);
    
    color: var(--bg-colour);
    background-color: var(--hover-primary-colour);
}

.grey-text {
    color: var(--secondary-text-colour);
}

.centre-text {
    text-align: center;
}

/* Dashboard container */
.dashboard-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Dashboard design */
.dashboard {
    display: grid;
    gap: 2rem;
    /* Make side links and quick note a fixed size */
    /* Daily table takes up remaining space */
    grid-template-columns: auto 32ch;
}

/* Daily timetable container */
.daily-table {
    background-color: var(--dull-primary-colour);
    padding: 1rem;
    border-radius: 12px;
    min-height: 30rem;

    p {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }
}

/* Table design */
table {
    width: 100%;
}

table, th, td {
    border: 3px solid var(--dull-primary-colour);
    border-collapse: collapse;
    border-radius: 10px;
    
    .short-col {
        width: 14ch;
    }
}

th, td {
    padding: 0.25rem 0.5rem;
}

th {
    background-color: var(--bg-colour);
    text-align: left;

}

td {
    background-color: var(--bg-colour);
}

/* Quick navigation and quick note next to table */
.quick-selections {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 100%;

    gap: 1.5rem;

    /* Two links for quick navigation */
    .quick-links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

}

/* Quick navigation button design */
.big-btn {
    display: block;
    text-decoration: none;
    background-color: var(--tertiary-colour);
    
    padding: 0.75rem;
    border-radius: 12px;

    div {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        align-items: center;


        i {
            padding: 0.5rem 0.625rem;
            /* background-color: var(--light-grey); */
            /* border: 1px solid var(--text-colour); */
            border-radius: 100rem;
            font-size: 2rem;

            color: var(--text-colour);
        }

        p {
            margin-bottom: 0;
        }
    }
}

/* Quick note container */
.quick-note-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 12px;

    background-color: var(--tertiary-colour);
    max-height: 15rem;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .title {
            margin: 0;
        }
        
        a {
            background-color: var(--light-grey);
            padding: 0.29rem 0.4rem;
            border-radius: 8px;
        }

        i {
            font-size: 1.5rem;
        }
    }

    .quick-note {
        overflow: auto;
        white-space: pre-wrap;
    }
}


/* Weekly timetable */
.weekly-timetable-container {
    display: grid;
    grid-template-columns: [time] auto [Monday] 1fr [Tuesday] 1fr [Wednesday] 1fr [Thursday] 1fr [Friday] 1fr [Saturday] 1fr [Sunday] 1fr; 
    grid-template-rows: auto, auto, repeat(calc(var(--total-rows) - 2), var(--row-height));

    background-color: var(--secondary-colour);
    column-gap: 1px;
    border: 1px solid var(--secondary-colour);

    font-size: 0.85rem;
}

/* All grid types */
.date-grid, .all-day-grid, .time-label, .calendar-slot {
    background-color: var(--bg-colour);
}

/* Not including the calendar slots which have dynamic styling for border */
.date-grid, .all-day-grid, .time-label {
    border-bottom: 1px solid var(--secondary-colour);
}

/* First row - dates */
.date-grid {
    display: grid;
    align-items: center;
    justify-content: center;

    text-align: center;
    grid-row: 1;
    padding: 1rem 0;

    .day {
        align-content: center;
        font-size: 1.5rem;
        background-color: var(--tertiary-colour);

        border-radius: 100rem;
        height: 3rem;
        width: 3rem;
    }
}

/* Second row - all day events */
.all-day-grid {
    overflow: auto;
    height: 8rem;
    
    grid-row: 2;
}

/* Time labels (left-most side after the first two rows) */
.time-label {
    grid-column: [time];
}

/* Left-most column */
.left-col {
    padding: 0 0.25rem;
}


/* 5-minute blocks */
.calendar-slot {
    height: var(--row-height);
}

/* All-day events */
.all-day-event {
    display: block;
}

/* Calendar events */
.calendar-event {
    display: block;

    min-height: 0;

    overflow: hidden; /* Ensures that a really long word does not force the container to stretch its width */
    overflow-wrap: break-word; /* Breaks the really long word if it goes beyond the container width */
}

.all-day-event, .calendar-event {
    padding: 0.25rem;
    border-radius: 8px;
    margin: 0 2px 1px 2px;

    p {
        margin-bottom: 0;
    }
}

/* Events modal */
dialog {
    margin: auto auto;
    height: 60%;
    width: 50%;

    border: none;
    border-radius: 16px;
}

.event-dialog-content {
    padding: 2rem 3rem;
}

.cross-icon {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

.cross-icon:hover {
    background-color: var(--tertiary-colour);
}

/* Edit and delete options */
.edit-delete-options {
    display: flex;
    gap: 1rem;
}

.modal-title {
    display: flex;
    justify-content: space-between;
}

.category-tag {
    display: inline-block;
    padding: 0.0rem 0.35rem;
    border-radius: 4px;
}

.event-date {
    color: var(--secondary-text-colour);
}

.event-description {
    white-space: pre-wrap;
    margin-top: 1rem;
}

/* Categories table */
.categories-table {
    table, th, td {
        border-color: var(--bg-colour);
    }
}

.colour-picker {
    padding: 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
}


/* Profile page */
.profile-options-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.profile-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin-bottom: 0;
    }

    a {
        border: 1px solid var(--primary-colour);
        border-radius: 4px;
        padding: 0.4rem 0.75rem;
    }
}


/* Footer */
footer {
    border-top: 1px solid var(--light-grey);

    .wide-content-container {
        background-color: var(--bg-colour);

        padding-top: 3rem;
        padding-bottom: 3rem;

        display: flex;
        gap: 5rem;
        /* justify-content: space-between; */

    }

    .logo {
        font-size: 1.5rem;
        font-weight: 600;

        img {
            width: 24px;
        }
    }
}


.footer-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

