:root {
    --primary-font-colour: rgb(12, 12, 112);
    --primary-colour: rgb(190, 190, 190);
    --secondary-colour: rgb(207, 207, 207);
    --tertiary-colour: rgb(226, 226, 226);
    --bg-colour: rgb(231, 242, 246);

    --row-height: 0.5rem;
    --total-rows: 290;
}

body {
    /* Body should take up whole screen height */
    min-height: 100vh;

    /* Allocate all free space to main */
    display: grid;
    grid-template-rows: auto 1fr auto;

    /* General primary font colour */
    color: var(--primary-font-colour);
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5rem;
}

a {
    color: var(--primary-font-colour);
}

a:hover {
    text-decoration: none;
}

i {
    font-size: 1.1rem;
}

/* Narrower content container for most information */
.narrow-content-container {
    max-width: 80ch;
    
    min-height: 100%;
    padding: 2rem;
    margin: 0 auto;
}

/* Wider containter for dashboard and timetable design */
.wide-content-container {
    padding: 2rem 1rem;
    min-height: 100%;
    
    @media (width > 999px) {
        padding: 2rem;
    }
}

header {    
    .wide-content-container {
        background-color: var(--primary-colour);
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .logo {
        font-size: 2rem;
        font-weight: 600;
    }
    
    nav {
        display: flex;
        gap: 2rem;

        @media (width > 1100px) {
            gap: 2.5rem;
        }
    }
}

/* Flash messages */
.message {
    /* CHANGE/DELETE */
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 1rem;
    margin: 1rem 0;
    
    &.error-message {
        /* CHANGE/DELETE */
        border-color: crimson;
        background-color: lightpink;
    }
    
    &.info-message {
        /* CHANGE/DELETE */
        border-color: forestgreen;
        background-color: lightgreen;
    }
}

main {
    background-color: var(--bg-colour);
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Dashboard container */
.dashboard-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Dashboard design */
.dashboard {
    display: grid;
    gap: 2rem;
    /* Make side links and quick note a fixed size */
    /* Daily table takes up remaining space */
    grid-template-columns: auto 32ch;
}

/* Daily timetable container */
.daily-table {
    background-color: var(--primary-colour);
    padding: 1rem;
    border-radius: 12px;

    p {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }
}

/* Table design */
table {
    width: 100%;
}

table, th, td {
    border: 3px solid var(--primary-colour);
    border-collapse: collapse;
    border-radius: 10px;
    
    .short-col {
        width: 12ch;
    }
}

th, td {
    padding: 0.25rem 0.5rem;
}

th {
    background-color: var(--secondary-colour);
    text-align: left;

}

td {
    background-color: var(--tertiary-colour);
}

/* Quick navigation and quick note next to table */
.quick-selections {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 100%;

    gap: 1.5rem;

    /* Two links for quick navigation */
    .quick-links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* Quick navigation button design */
    a {
        text-decoration: none;
        background-color: var(--tertiary-colour);
        
        padding: 0.75rem;
        border-radius: 12px;

        div {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 1fr;
            align-items: center;


            i {
                padding: 0.5rem 0.625rem;
                background-color: var(--secondary-colour);
                border-radius: 100rem;
                font-size: 2rem;
            }
    
            p {
                margin-bottom: 0;
            }
        }
    }
}

/* Quick note container */
.quick-note-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 12px;

    background-color: var(--tertiary-colour);
    max-height: 16rem;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .title {
            margin: 0;
        }
        
        a {
            background-color: var(--secondary-colour);
            padding: 0.29rem 0.4rem;
            border-radius: 8px;
        }

        i {
            font-size: 1.5rem;
        }
    }

    .quick-note {
        overflow: auto;
        white-space: pre-wrap;
    }
}


/* Weekly timetable */
.weekly-timetable-container {
    display: grid;
    grid-template-columns: [time] auto [Monday] 1fr [Tuesday] 1fr [Wednesday] 1fr [Thursday] 1fr [Friday] 1fr [Saturday] 1fr [Sunday] 1fr; 
    grid-template-rows: auto, auto, repeat(calc(var(--total-rows) - 2), var(--row-height));

    background-color: var(--primary-colour);
    column-gap: 1px;
    border: 1px solid var(--primary-colour);

    font-size: 0.85rem;
}

/* All grid types */
.date-grid, .all-day-grid, .time-label, .calendar-slot {
    background-color: var(--bg-colour);
    
    border-bottom: 1px solid red;
}


/* First row - dates */
.date-grid {
    display: grid;
    align-items: center;
    justify-content: center;

    text-align: center;
    grid-row: 1;
    padding: 1rem 0;

    .day {
        align-content: center;
        font-size: 1.5rem;
        background-color: var(--tertiary-colour);

        border-radius: 100rem;
        height: 3rem;
        width: 3rem;
    }
}

/* Second row - all day events */
.all-day-grid {
    grid-row: 2;
    height: 8rem;
}

/* Time labels (left-most side after the first two rows) */
.time-label {
    grid-column: [time];
}

/* Left-most column */
.left-col {
    padding: 0 0.25rem;
}


/* 5-minute blocks */
.calendar-slot {
    height: var(--row-height);
}


/* Calendar events */
.calendar-event {
    display: block;
    border-bottom: 1px solid black;

    padding: 0.25rem;
    min-height: 0;

    overflow: hidden; /* Ensures that a really long word does not force the container to stretch its width */
    overflow-wrap: break-word; /* Breaks the really long word if it goes beyond the container width */
}

/* Events modal */
dialog {
    margin: auto auto;
    height: 60%;
    width: 50%;

    border: none;
    border-radius: 16px;
}

.event-dialog-content {
    padding: 2rem 3rem;
}

.cross-icon {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

.cross-icon:hover {
    background-color: var(--tertiary-colour);
}

/* Edit and delete options */
.edit-delete-options {
    display: flex;
    gap: 1rem;
}

.modal-title {
    display: flex;
    justify-content: space-between;
}

.event-description {
    white-space: pre-wrap;
}

/* Categories table */
.categories-table {
    table, th, td {
        border-color: var(--bg-colour);
    }
}


/* Profile page */
.profile-options-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.profile-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin-bottom: 0;
    }

    a {
        border: 1px solid var(--primary-colour);
        border-radius: 4px;
        padding: 0.4rem 0.75rem;
    }
}


/* Footer */
footer {
    .wide-content-container {
        background-color: rgb(195, 226, 236);

        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

